:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --main-color: #ffffff;
  --secondary-color: #000000;
  --secondary-bg-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --icon-color-light: #afb1b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form-checkbox, .modal-close-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}
/* .section {
    padding-top: 94px;
    padding-bottom: 94px;
} */
.title {
  margin-bottom: 50px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .nav__menu,
.contacts {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .header__container {
    padding-bottom: 0;
    padding-top: 0;
  }
  .nav,
.nav__menu {
    display: flex;
    align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav__link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
  }
  .nav .nav__link.current {
    color: var(--accent-color);
  }
  .nav__link.current::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .nav__link--clickableArea {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
  .envelope,
.phone {
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (max-width: 1199px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
  .phone {
    width: 10px;
    height: 14px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts__link--clickableArea {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .envelope,
.phone {
    margin-right: 10px;
  }
  .contacts__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    margin-left: auto;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  color: var(--accent-color);
}

.logo__second {
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1738461538;
    margin-right: 93px;
  }
}
.hero {
  background-color: #c4c4c4;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/heromob.jpg);
  background-size: cover;
}

.hero-title {
  max-width: 360px;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 30px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url(../../img/heromob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../../img/tablet/header-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url(../../img/tablet/header-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../../img/hero.jpg");
  }
  .hero {
    padding: 200px 0;
  }
  .hero-title {
    max-width: 650px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../../img/dekstop/hero@2x.jpg");
  }
}
.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.features__descr {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__icons {
    width: 354px;
    height: 120px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features__subtitle {
    text-align: start;
  }
  .features__item {
    display: block;
  }
  .features__descr {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .features__subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
  }
  .features__icons {
    width: 270px;
    height: 120px;
  }
  .features__item {
    min-height: 270px;
  }
}
@media screen and (max-width: 1200px) {
  .section-solution {
    display: none;
  }
}
.section-info {
  padding-top: 0;
}

.solution {
  display: flex;
  align-items: center;
}

.solution__item {
  display: block;
  position: relative;
}
.solution__item:not(:last-child) {
  margin-right: 30px;
}

.solution__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.solution__title-wrapper {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  width: 100%;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  background-color: var(--main-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.team__members {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
  .team__card {
    padding-bottom: 30px;
  }
}
.networks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: var(--accent-color);
}

.networks__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover .networks__icon, .networks__link:focus .networks__icon {
  fill: #ffffff;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover, .clients__item:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover .clients__icon, .clients__item:focus .clients__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .clients {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
  .clients__item {
    width: 170px;
  }
}
.clients__link {
  display: block;
}

.footer {
  background-color: var(--accent-background-color);
}

.logo--inFooter {
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.logo__second--colorOnDark {
  color: var(--main-color);
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  font-style: normal;
  text-align: center;
  margin-bottom: 60px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--color {
  color: rgba(255, 255, 255, 0.6);
  transition: color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 20px;
}

.networks__link--bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.networks__icon--color {
  fill: #fff;
}

.networks__link:hover,
.networks__link:focus {
  background-color: var(--accent-color);
}

.footer__networksWrapper {
  margin-bottom: 60px;
}

.subscription__offer {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.subscribeForm__input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--accent-background-color);
  padding: 15px 16px;
  margin-bottom: 20px;
  color: var(--main-color);
}
.subscribeForm__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribeForm__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.subscribeForm__btn {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  padding: 10px 28px 10px 31px;
  border: none;
  border-radius: 4px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribeForm__btn:hover, .subscribeForm__btn:focus {
  background-color: #188ce8;
}

.subscribeForm__icon {
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .container--add {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .addressWrapper {
    margin-right: 165px;
    margin-left: 60px;
  }
  .subscribeForm__input {
    width: 450px;
  }
  .subscription {
    margin-left: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .address {
    margin-bottom: 0;
    text-align: start;
  }
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__subtitle {
    text-align: start;
  }
  .container--add {
    flex-wrap: nowrap;
  }
  .addressWrapper {
    display: block;
    margin-right: 70px;
    margin-left: 0;
  }
  .addressWrapper:last-child {
    margin-right: 0;
  }
  .footer__networksWrapper {
    margin-right: 93px;
    margin-bottom: 0;
  }
  .subscription {
    margin-left: 0;
  }
  .subscription__offer {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-align: start;
  }
  .subscribeForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribeForm__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  .subscribeForm__btn {
    padding: 10px 28px;
  }
  .subscribeForm__icon {
    margin-left: 10px;
  }
}
.filter-List {
  display: flex;
  row-gap: 15px;
  column-gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter-List__btn {
  padding: 6px 22px;
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-List__btn:hover, .filter-List__btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter-List__btn:hover, .filter-List__btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .filter-List {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.project-List__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.project-List__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: var(--secondary-text-color);
}

.project-List__imgWrapper {
  position: relative;
  overflow: hidden;
}

.project-List__overlay {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  min-height: 100%;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  top: 0;
  padding: 77px 24px;
  overflow: auto;
  transform: translate(0, 101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-List__link:hover .project-List__overlay, .project-List__link:focus .project-List__overlay {
  transform: translate(0, 0);
}

.project-List__item:not(:last-child) {
  margin-bottom: 30px;
}

.project-List__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-List__link:hover, .project-List__link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.project-List__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.imgSize {
  min-width: 450px;
}

@media screen and (min-width: 768px) {
  .project-List {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .imgSize {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project-List__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .project-List__overlay {
    padding: 63px 24px;
  }
  .imgSize {
    min-width: 370px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--main-color);
  font-family: inherit;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 1, 88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--main-color);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-title {
  display: block;
  width: auto;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-close-buttom {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-buttom:hover, .modal-close-buttom:focus {
  border-color: var(--accent-color);
}

.modal-close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-buttom:hover .modal-close-button-icon, .modal-close-buttom:focus .modal-close-button-icon {
  fill: var(--accent-color);
}

/* =============================forms========================= */
.form-field {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.form-lable {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-coor);
}

.form-input {
  display: block;
  width: 370px;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover, .form-input:focus {
  border: 1px solid var(--accent-color);
}

textarea {
  padding: 12px 16px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  width: 370px;
  height: 120px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:hover, textarea:focus {
  border: 1px solid var(--accent-color);
}
textarea::placeholder {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  display: inline-block;
  position: absolute;
  margin: 11px 12px;
  top: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon, .form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
}

.checkbox-icon {
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-origin: border-box;
  border: none;
}
.checkbox:focus + .checkbox-icon {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.policy-dsc {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.link-policy {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.form-btn {
  display: block;
  margin: auto;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .form-btn {
    padding: 10px 32px;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 500ms linear, visibility 500ms linear;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__btn {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-nav__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: block;
}

.mobile-menu__wrapper {
  display: block;
}

.mobile-menu__btn:hover .mobile-menu__icon-close {
  color: var(--accent-color);
}

.mobile-nav__link.current {
  color: var(--accent-color);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: block;
  margin-bottom: 32px;
}

.mobile-menu__email {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-menu-networks {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu-networks__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: block;
}

.mobile-menu-networks__item {
  display: flex;
  align-items: center;
}

.mobile-menu-networks__item:not(:last-child):after {
  content: "";
  display: inline-block;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 0px;
  margin-right: 10px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */