@media screen and (max-width: 1200px) {
    .section-solution {
        display: none;
    }
}

.section-info {
    padding-top: 0;
}

.solution {
    display: flex;
    align-items: center;
}

.solution__item {
    display: block;
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.solution__title {
    @include font(14px, 700, 16px);

    text-align: center;

    text-transform: uppercase;

    color: var(--main-color);
}

.solution__title-wrapper {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
    width: 100%;
}


/* .info-list {
    position: relative;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.info-title,
.team-title {
    @include font(36px, 700, 42px);
    
    text-align: center;
    letter-spacing: 0.03em;
}


.info-section {

    padding-top: 0;
    padding-bottom: 94px;
}

.info-desc {
    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;
    padding: 27px 82px;
    color: var(--main-color);
    background-color: rgba(47, 48, 58, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include font(14px, 700, 16px);
   
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
} */