.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-btn-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;

}

.portfolio-btn {
    padding: 6px 22px;

    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    font-family: inherit;
    border: none;
    cursor: pointer;

    @include font(16px, 500, 26px);
    
    letter-spacing: 0.03em;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--main-color);
            background-color: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    &:hover,
    &:focus {
            color: var(--main-color);
            background-color: var(--accent-color);
                }
}



.portfolio-item:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}



.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item__wrapper {
    padding: 20px 24px;
    background-color: var(--main-color);
    border: 1px solid#ececec;
    border-top: none;
    min-width: 322px;
}

.portfolio-overlay__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-item__title{
    @include font(18px, 700, 36px);
   
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio-item__desc {
    color: var(--secondary-text-color);
    @include font(15px, 400, 30px);
    
    letter-spacing: 0.03em;
}

.portfolio__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    color: var(--main-color);
    letter-spacing: 0.03em;
    line-height: 1.56;


    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;

}

.portfolio-item:hover .portfolio__overlay {
    opacity: 1;
    transform: translate(0, 0);
}