.filter-List {
    display: flex;
   
    row-gap: 15px;
    column-gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}



.filter-List__btn {
        padding: 6px 22px;
        color: var(--secondary-color);
        background-color: var(--secondary-bg-color);
        font-family: inherit;
        border: none;
        cursor: pointer;
    
        @include font(16px, 500, 26px);
    
        letter-spacing: 0.03em;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--main-color);
            background-color: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
        &:hover,
        &:focus {
            color: var(--main-color);
            background-color: var(--accent-color);
        }
    }
@media screen and (min-width: 768px) {
    .filter-List{
        justify-content: center;
        margin-bottom: 30px;
    }
}
.project-List__title {
    @include font(18px, 700, 36px);

    letter-spacing: 0.06em;

    color: var(--primary-text-color);

    margin-bottom: 4px;
}

.project-List__description {
    @include font(16px, 400, 30px);

    color: var(--secondary-text-color);
}

.project-List__imgWrapper {
    position: relative;
    overflow: hidden;
}

.project-List__overlay {
    position: absolute;
    @include font(18px, 400, 28px);
    min-height: 100%;
    color: var(--main-color);
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    top: 0;
    padding: 77px 24px;
    overflow: auto;
    transform: translate(0, 101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .project-List__link:hover &,
    .project-List__link:focus & {
        transform: translate(0, 0);
    }
}



.project-List__item:not(:last-child) {
    margin-bottom: 30px;
}

.project-List__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
            0 4px 4px 0 rgba(0, 0, 0, 0.06);
    }
}

.project-List__card {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.imgSize {
    min-width: 450px;
}

@media screen and (min-width: 768px) {
    .project-List {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .imgSize {
        min-width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .project-List__item {
        flex-basis: calc((100% - 2 * 30px) / 3);
    }

    .project-List__overlay {
        padding: 63px 24px;
    }

    .imgSize {
        min-width: 370px;
    }
}

