@media  screen and (max-width: 768px) {
 
.mobile-menu {
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 100%;
        max-height: 796px;
        top: 0;
        left: 0;
        background-color: var(--main-color);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 500ms linear, visibility 500ms linear;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }



    .mobile-menu__btn {
        position: absolute;
        background-color: transparent;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 15px;
        border: none;
        padding: 0;
        line-height: 0;
    }

    .mobile-menu__container {
        position: relative;
        padding-left: 25px;
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-nav__link {
    @include font(40px, 500, 47px);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: block;
}
.mobile-menu__wrapper {
    display: block;
}


.mobile-menu__btn:hover .mobile-menu__icon-close {
    color: var(--accent-color);
}

.mobile-nav__link.current {
    color: var(--accent-color);
}

.mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__contacts {
    margin-bottom: 64px;
}

.mobile-menu__tel {
    @include font(34px, 500, 40px);
    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: block;
    margin-bottom: 32px;
}


.mobile-menu__email {
    @include font(24px, 500, 28px);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.mobile-menu-networks {
    display: flex;
    flex-wrap: wrap;
}

.mobile-menu-networks__link {
    @include font(18px, 500, 22px);
    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: block;
}


.mobile-menu-networks__item {
    display: flex;
    align-items: center;
}

.mobile-menu-networks__item:not(:last-child):after {
    content: '';
    display: inline-block;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 0px;
    margin-right: 10px;
    margin-left: 10px;
}