:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --main-color: #ffffff;
    --secondary-color: #000000;
    --secondary-bg-color: #f5f4fa;
    --accent-background-color: #2f303a;
    --icon-color-light: #afb1b8;

}